@charset "UTF-8";
/* CSS Document */

.hidden {
  display: none;
}

#container {
  margin: 20px auto;
  width: 428px;
  border: solid 1px #333;
  background: #02163a;
  border-radius: 10px;
  color: white;
}

#mainContent {
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-column-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

article {
  grid-column: 1/-1;
}

img {
  margin-top: 20px;
  margin-bottom: 30px;
}

span{
  font-weight: bolder;
  color: orange;

}

h2 {
  font-family: Inter, sans-serif;
  line-height: 40px;
  text-align: center;
}

.athlete h2 {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}

.blend h2 {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

.health h2 {
  font-family: "gitan-latin", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.creator h2 {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

p {
  font-family: "gitan-latin", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 14px;
}
